---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Hero from "@components/Hero.astro";
import Features from "@components/Features.astro";
import Filters from "@components/Filters.astro";
import Providers from "@components/Providers.astro";
import CodeExample from "@components/CodeExample.astro";
import Ecosystem from "@components/Ecosystem.astro";
import GetStarted from "@components/GetStarted.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="WorkerBee - Reactive Blockchain Observation Framework for Hive">
  <Nav />
  <main id="main">
    <Hero />
    <Features />
    <Filters />
    <Providers />
    <CodeExample />
    <Ecosystem />
    <GetStarted />
  </main>
  <Footer />
</Layout>
